body {
    background-color: #9db1b1;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    margin: 0;
}
/* This targets your main heading */
h1 {
    color: #2c3e50;
    border-bottom: 2px solid #38bf5a;
}
h2 {
    color: #2c3e50;
    border-bottom: 2px solid #38bf5a;
}
.btn {
    background-color: #000000;
    border: 2px solid #ffffff;
    color:rgb(255, 255, 255);
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;
}
.btn:hover {
    background-color: #ffffff;
    color: #7e7e7e
}